name: Deploy to all environments
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types: [opened, edited, reopened, synchronize, closed]

jobs:
  deploy:
    uses: ./.github/workflows/jitbit-deploy-environment-reusable.yml
    strategy:
      fail-fast: false
      matrix:
        include:
          - environment: sandbox
            blue_image_tag: 11.14.3-latest
            green_image_tag: ""
            active_deployment_colour: blue
          - environment: development
            image_tag: 11.14.4-latest
          - environment: preproduction
            image_tag: 11.14.1-latest
          - environment: production
            image_tag: 11.14.1-latest
          - environment: test
            image_tag: 11.14.1-latest
    with:
      environment: ${{ matrix.environment }}
      image_tag: ${{ matrix.image_tag }}
      blue_image_tag: ${{ matrix.blue_image_tag || '' }}
      green_image_tag: ${{ matrix.green_image_tag || '' }}
      active_deployment_colour: ${{ matrix.active_deployment_colour || '' }}
    secrets: inherit
