name: Build images for all Jitbit versions
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types: [opened, edited, reopened, synchronize, closed]
    paths:
      - 'docker/**'
      - '.github/workflows/jitbit-build-push-image-reusable.yml'
      - '.github/workflows/jitbit-build-push-all-images.yml'

jobs:
  build-image:
    permissions:
        id-token: write
        contents: write
        security-events: write
    strategy: 
        fail-fast: false
        matrix:
            jitbit_version: ["11.14.1","11.14.3","11.14.4","11.18.2"]
    uses: ./.github/workflows/jitbit-build-push-image-reusable.yml
    with:
      jitbit_version: ${{ matrix.jitbit_version }}
    secrets: inherit
      
