name: "Resuable: Deploy to a single env"
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      blue_image_tag:
        required: true
        type: string
      green_image_tag:
        required: true
        type: string
      active_deployment_colour:
        required: true
        type: string
      terraform_version:
        required: false
        type: string
        default: "~1.13"
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: string
      blue_image_tag:
        required: true
        type: string
      green_image_tag:
        required: true
        type: string
      active_deployment_colour:
        required: true
        type: string
      terraform_version:
        required: false
        type: string
        default: "~1.13"
jobs:
  validate-input:
    runs-on: ubuntu-latest
    steps:
      - name: Check if active_deployment_colour input is "blue" or "green"
        env:
          ACTIVE_COLOUR: ${{ github.event.inputs.active_deployment_colour }}
        run: |
          if [[ "$ACTIVE_COLOUR" != "blue" && "$ACTIVE_COLOUR" != "green" ]]; then
            echo "Invalid value for input 'active_deployment_colour'. Must be either 'blue' or 'green'."
            echo "Value provided: '$ACTIVE_COLOUR'"
            exit 1
          else
            echo "Input is valid: '$ACTIVE_COLOUR'"
          fi

  plan:
    name: Plan - ${{ inputs.environment }}
    runs-on: ubuntu-latest
    outputs:
      plan_exitcode: "${{ steps.plan.outputs.exitcode }}"
    environment: ${{ inputs.environment }}-plan
    strategy:
      fail-fast: false
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.0.1
        with:
          role-to-assume: "arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/modernisation-platform-oidc-cicd"
          role-session-name: "hmpps-cr-ancillary-jitbit-app-${{ github.run_number }}"
          aws-region: "eu-west-2"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "${{ inputs.terraform_version }}"
          terraform_wrapper: false

      - name: Terraform Init
        working-directory: terraform
        run: |
          terraform --version
          echo "terraform init -backend-config=environments/${{ inputs.environment }}/backend.hcl"
          terraform init -backend-config=environments/${{ inputs.environment }}/backend.hcl
      
      - name: Terraform Plan
        id: plan
        working-directory: terraform
        run: |
          set -o pipefail
          exitcode=0
          tfargs="-detailed-exitcode"
          echo "terraform plan -var-file=environments/${{ inputs.environment }}/terraform.tfvars -var="blue_image_tag=${{ inputs.blue_image_tag }}" -var="green_image_tag=${{ inputs.green_image_tag }}" -var="active_deployment_colour=${{ inputs.active_deployment_colour }}" $tfargs | tee tfplan.txt || exitcode=$?"
          terraform plan -var-file=environments/${{ inputs.environment }}/terraform.tfvars -var="blue_image_tag=${{ inputs.blue_image_tag }}" -var="green_image_tag=${{ inputs.green_image_tag }}" -var="active_deployment_colour=${{ inputs.active_deployment_colour }}" $tfargs | tee tfplan.txt || exitcode=$?
          echo "exitcode=${exitcode}"  # 0=clean plan, 1=error, 2=stuff in plan
          echo "exitcode=${exitcode}" >> $GITHUB_OUTPUT
          (( exitcode == 1 )) && exit 1 || exit 0

  deploy:
    name: Deploy - ${{ inputs.environment }}
    runs-on: ubuntu-latest
    needs: plan
    permissions:
      id-token: write
      contents: read
    if: needs.plan.outputs.plan_exitcode == '2'
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.0.1
        with:
          role-to-assume: "arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/modernisation-platform-oidc-cicd"
          role-session-name: "hmpps-cr-ancillary-jitbit-app-${{ github.run_number }}"
          aws-region: "eu-west-2"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "${{ inputs.terraform_version }}"
          terraform_wrapper: false

      - name: Deploy to ECS
        id: deploy
        env:
          BLUE_IMAGE_TAG: ${{ inputs.blue_image_tag }}
          GREEN_IMAGE_TAG: ${{ inputs.green_image_tag }}
        run: |
          set -e
          cd terraform
          terraform init -backend-config=environments/${{ inputs.environment }}/backend.hcl
          terraform apply -auto-approve -var-file=environments/${{ inputs.environment }}/terraform.tfvars -var="blue_image_tag=$(echo ${{ env.BLUE_IMAGE_TAG }} | sed 's/[^a-zA-Z0-9.]/-/g')" -var="green_image_tag=$(echo ${{ env.GREEN_IMAGE_TAG }} | sed 's/[^a-zA-Z0-9.]/-/g')" -var="active_deployment_colour=${{ inputs.active_deployment_colour }}"
          echo "CLUSTER_ARN=$(terraform output -raw ecs_cluster_arn)" >> $GITHUB_OUTPUT
          echo "LISTENER_ARN=$(terraform output -raw listener_arn))" >> $GITHUB_OUTPUT
          echo "BLUE_SERVICE_ARN=$(terraform output -raw ecs_service_arn_blue)" >> $GITHUB_OUTPUT
          echo "GREEN_SERVICE_ARN=$(terraform output -raw ecs_service_arn_green)" >> $GITHUB_OUTPUT
          echo "TARGET_GROUP_ARN=$(terraform output -raw output target_group_arn_${{ inputs.active_deployment_colour }})" >> $GITHUB_OUTPUT

      - name: Trigger new blue ECS service deployment
        if: ${{ github.event.inputs.blue_image_tag != '' }}
        run: |
          aws ecs update-service --cluster ${{ steps.deploy.outputs.CLUSTER_ARN }} --service ${{ steps.deploy.outputs.BLUE_SERVICE_ARN }} --force-new-deployment

      - name: Trigger new green ECS service deployment
        if: ${{ github.event.inputs.green_image_tag != '' }}
        run: |
          aws ecs update-service --cluster ${{ steps.deploy.outputs.CLUSTER_ARN }} --service ${{ steps.deploy.outputs.GREEN_SERVICE_ARN }} --force-new-deployment

      - name: Update listener forwarding rule
        run: |
          aws elbv2 modify-listener --listener-arn ${{ steps.deploy.outputs.LISTENER_ARN }} --default-actions Type=forward,TargetGroupArn=${{ steps.deploy.outputs.TARGET_GROUP_ARN }}

      - name: Update SSM parameter
        run: |
          aws ssm put-parameter --name "/delius-jitbit/blue-green-active-colour" --value ${{ inputs.active_deployment_colour }} --type "String" --overwrite

      # - name: Alert Slack failure
      #   if: "${{ failure() && github.ref == 'refs/heads/main' }}"
      #   run: |
      #     curl --silent -X POST -H 'Content-type: application/json' --data '{"blocks":[{"type":"header","text":{"type":"plain_text","text":":fail: Deployment Failed"}},{"type":"divider"},{"type":"section","text":{"type":"mrkdwn","text":"Deployment to the ${{ inputs.environment }} account failed"},	"accessory": {"type": "button","text": {"type": "plain_text","text": ":github: View Job","emoji": true}, "value": "click_me_123", "url":"${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}", "action_id": "button-action"}}]}' ${{ secrets.SLACK_WEBHOOK_URL }}

      # - name: Alert Slack Success
      #   if: "${{ success() && github.ref == 'refs/heads/main' }}"
      #   run: |
      #     curl --silent -X POST -H 'Content-type: application/json' --data '{"blocks":[{"type":"header","text":{"type":"plain_text","text":":white_check_mark: Deployment Succeeded"}},{"type":"divider"},{"type":"section","text":{"type":"mrkdwn","text":"TF Apply Succeeded and the Service is stable in the ${{ inputs.environment }} account."},	"accessory": {"type": "button","text": {"type": "plain_text","text": ":github: View Job","emoji": true}, "value": "click_me_123", "url":"${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}", "action_id": "button-action"}}]}' ${{ secrets.SLACK_WEBHOOK_URL }}
